{% extends "base.html" %}
{% block content %}

<div class="row">
    {% for feature in features_list %}
         <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ feature.name }}</h4>
                    <p class="card-text">{{ feature.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'feature page' feature.id    %}" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}