{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="col-md-12 pt-5">
        <div class="row pt-4">
            <a href="{% url 'features_main:add feature' %}" class="btn btn-danger ml-auto" role="button">Add new feature!</a>
        </div>
    </div>
    <div class="row pt-3">
        {% for feature in features_list %}
             <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ feature.name }}</h4>
                        <p class="card-text">{{ feature.description }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'features_main:feature page' feature.id    %}" class="btn btn-primary">More about {{ feature.name }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}